<div class="container pt-4">
  <div class="row">
    <div class="col-12">
      <div id="channels"></div>
    </div>
  </div>
</div>
<script>
  window.currentUsername = '<%= user.username %>';
</script>
<script src="/channels.js"></script>
