<div class="container">
  <div class="pt-0 pb-1 card-body border-0">
    <p class="text-muted">
      <small>
        Add your qualifications that can helpful during disaster relief
      </small>
    </p>
  </div>

  <div id="list" class="col-12" style="visibility: hidden;">
    <div class="mx-2 form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value="first aid responder"
        id="defaultCheck1"
        disabled
      />
      <label class="form-check-label" for="defaultCheck1">
        First aid responder
      </label>
    </div>
    <div class="dropdown-divider"></div>
    <div class="mx-2 form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value="healthcare worker"
        id="defaultCheck2"
        disabled
      />
      <label class="form-check-label" for="defaultCheck2">
        Healthcare worker
      </label>
    </div>
    <div class="dropdown-divider"></div>
    <div class="mx-2 form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value="machinery operator"
        id="defaultCheck3"
        disabled
      />
      <label class="form-check-label" for="defaultCheck3">
        Machinery operator
      </label>
    </div>
    <div class="dropdown-divider"></div>
    <div class="mx-2 form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value="rescuer"
        id="defaultCheck4"
        disabled
      />
      <label class="form-check-label" for="defaultCheck4">
        Rescuer
      </label>
    </div>
    <div class="dropdown-divider"></div>
    <div class="mx-2 form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value="technician"
        id="defaultCheck5"
        disabled
      />
      <label class="form-check-label" for="defaultCheck5">
        Technician
      </label>
    </div>
    <div class="dropdown-divider"></div>
    <div class="mx-2 form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value="firefighter"
        id="defaultCheck6"
        disabled
      />
      <label class="form-check-label" for="defaultCheck6">
        Firefighter
      </label>
    </div>
    <div class="dropdown-divider"></div>
    <div class="mx-2 form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value="law enforcement officer"
        id="defaultCheck7"
        disabled
      />
      <label class="form-check-label" for="defaultCheck7">
        Law enforcement officer
      </label>
    </div>
    <div class="d-flex flex-row-reverse my-4">
      <button type="button" id="cancel" class="ml-2 btn btn-secondary" disabled>
        Cancel
      </button>

      <button type="button" id="action" value="edit" class="btn btn-primary">
        Edit
      </button>
    </div>
  </div>
</div>
<script src="/qualifications.js"></script>
