main {
  --webkit-overflow-scrolling: touch;
}

.tab {
  background-color: #fff;
  border-radius: 50px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  height: 2.5rem;
  transition: background 0.4s linear;
}

.tab i {
  font-size: 1.2em;
}
